.hose {
   background-color:rgb(184, 176, 178)
}

.left_side_btns {
   margin-left: 10px;
}

.left_side_btns button {
   cursor: pointer;
   border: none;
   border-radius: 3px;
   background-color: rgb(216, 217, 221);
   height: 50px;
}

#water_btn.toggled {
   background-color: rgb(153, 248, 248);
}

#hose_btn.toggled {
   background-color: rgb(153, 248, 248);
}

.water {
   background-color:rgba(107, 188, 255, 0.959);
}





