/*.page {
   height: 100%;
   overflow: auto;
   -webkit-overflow-scroll: touch;
 } */

 .hidden-nutri {
   display: none;
}

/*
.nutri-scroll {
   height: 100%;
   overflow-y: scroll;
}
*/

.show-nutri {
   /*width: 75%; */
   /*height: 100%; */
   top: 288px;
   left: 8px;
   position: absolute;
   z-index: 2;
   display: block;
}

.nutri_frame {
   height: 840px; /*h = 80*/
   width: 1260px;   /*w=90  1350 + 90*2 */  
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   /* background-color: rgba(92, 206, 255, 0.6); */
 }
 
 .nutri_soil {
   height: 12px;
   width: 12px;
   border-color: rgb(87, 102, 33);
   border-style: dotted;
   border-width: .5px;
   background-color: rgba(75, 38, 46, 0.9);
 }

 .low-nutri {
    background-color: rgba(167, 165, 123, 0.9);
    /* add some kind of astericks or something*/
 }

 .med-nutri {
    background-color: rgba(133, 98, 74, 0.9);
 }

 .dead-nutri {
    background-color:rgba(36, 16, 20, 0.904);
 }

 .soil-water {
    background-color: rgba(78, 96, 250, 0.877);
 }

 .soil-flood {
    background-color:rgba(38, 35, 255, 0.973);
 }